// COLORS
$color-dark-primary: #03136b;
$color-dark-secondary: #1269ec;
$color-dark-tertiary: #18aaee;



$color-black: #000;
$color-white: #fff;

$color-grey-light: rgb(158, 157, 157);
$color-grey-dark: rgb(99, 98, 98);

$color-warning:red;

//FONT SIZES
$default-font-size: 1.6rem;


//GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;